<div class="list" fxLayout="column" fxLayoutAlign="center center">
  <div 
    class="logut">
    <span (click)="onLogout()">Log out</span>
  </div>
  <mat-spinner *ngIf="isFetching && !error"></mat-spinner>
  <mat-error *ngIf="error"> {{ error }} </mat-error>
  <p *ngIf="fetchedPosts.length < 1 && !isFetching">No posts</p>
  <div *ngIf="fetchedPosts.length >= 1 && !isFetching"
    fxLayout="column">
    <app-post-item
      class="card-post"
      *ngFor="let postEl of fetchedPosts"
      (click)="onPostItemClick(postEl.id)"
      [post]="postEl" >
    </app-post-item>
  </div>
</div>
